.map {
    width: 100%;

    &__outer {
        margin-bottom: 32px;
        height: calc(100vh - 120px - 32px);
        border-radius: 16px;
        position: relative;
        overflow: hidden;
    }
}

@media screen and (max-width: 900px) {

    .map {
        &__outer {
            height: calc(100vh - 80px - 32px);
        }
    }

}