@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src : url("../../assets/fonts/Montserrat/Montserrat.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src : url("../../assets/fonts/Montserrat/Montserrat-Italic.ttf");
}