@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html {
    width: 100%;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  a {
    text-decoration: none;
    background-color: transparent;
  }

  textarea {
    resize: none;
  }

  img {
    max-width: 100%;
  }
}