// Colors

$appColorBody: #f3f3f3;
$appColorPrimary: #f36413;
$appColorSecondary: #8dcc83;
$appColorError: #fff;
$appColorWarn: #fff;
$appColorSuccess: #fff;

$appFontColorPrimary: #1A1A1A;
$appFontColorPrimaryLight: #FFF;
$appFontColorLink: #5a4df9;
